<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.runDockerImageLaunchConfigurationType">
    <booleanAttribute key="allocatePseudoTTY" value="false"/>
    <booleanAttribute key="autoRemove" value="false"/>
    <listAttribute key="binds"/>
    <stringAttribute key="command" value="solr-precreate coracore /opt/solr/server/solr/configsets/coradefaultcore"/>
    <stringAttribute key="connectionName" value="unix:///var/run/docker.sock"/>
    <stringAttribute key="containerName" value="alvin-cora-solr"/>
    <stringAttribute key="cpuPriority" value="1024"/>
    <stringAttribute key="creationDate" value="2018-08-27 12:27:00"/>
    <booleanAttribute key="enableLimits" value="false"/>
    <listAttribute key="envVariables"/>
    <stringAttribute key="imageId" value="sha256:eed5e29c5eeb1d03cce788c71068dc8de870170f3c71f77e870c6ea14becb286"/>
    <stringAttribute key="imageName" value="cora-solr:0.2-SNAPSHOT"/>
    <booleanAttribute key="interactive" value="false"/>
    <mapAttribute key="labels"/>
    <listAttribute key="links"/>
    <stringAttribute key="memoryLimit" value="-1"/>
    <stringAttribute key="networkMode" value="eclipseForCoraNet"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="privileged" value="false"/>
    <booleanAttribute key="publishAllPorts" value="false"/>
    <listAttribute key="publishedPorts">
        <listEntry value="8983/tcp::8984:true"/>
    </listAttribute>
    <booleanAttribute key="readonly" value="false"/>
    <listAttribute key="volumes"/>
    <listAttribute key="volumesFrom"/>
</launchConfiguration>
